<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitCollectors.PlinkService.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BitCollectors.PlinkService.Service.Properties.Settings>
            <setting name="PlinkExecutable" serializeAs="String">
                <value />
            </setting>
            <setting name="SshUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SshPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SshHostname" serializeAs="String">
                <value />
            </setting>
            <setting name="SshPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="EnableCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableVerbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDynamicSocks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynamicSocksHost" serializeAs="String">
                <value />
            </setting>
            <setting name="DynamicSocksPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UiStartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UiStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UiMinimizedToSysTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UiShowSysTrayNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTunnelValidation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TunnelValidationLocalPort" serializeAs="String">
                <value>12011</value>
            </setting>
            <setting name="TunnelValidationRemotePort" serializeAs="String">
                <value>12012</value>
            </setting>
            <setting name="TunnelValidationPingInterval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TunnelValidationPingTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LocalTunnels" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteTunnels" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableIcmpValidation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IcmpValidationHostnames" serializeAs="String">
                <value>www.google.com
www.yahoo.com
ping.symantec.com
8.8.8.8 # Google name server
8.8.4.4 # Google name server
139.130.4.5 # Telstra (Australia)
208.67.222.222 # OpenDNS
208.67.220.220 # OpenDNS
198.153.192.1 # Norton
198.153.194.2 # Norton</value>
            </setting>
            <setting name="IcmpValidationPingSshServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentTunnelStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </BitCollectors.PlinkService.Service.Properties.Settings>
    </userSettings>
</configuration>